@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;500&family=Kanit&family=Kaushan+Script&family=Noto+Sans+Sogdian&family=Rubik+Iso&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf) format('opentype');
}

:root{ /*Configurações na raiz*/
    /*Paleta de cores monocromática*/
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --cor6: #00a54a98;
    --cor7: #00682d9c;
}
*{ /*Configurações globais*/
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #019b463a;
    font-family: Arial, Helvetica, sans-serif;
}
body >nav{
    background-color: var(--cor5);
}
header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    padding-top: 40px;
    min-height: 150px;
    display: block;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    margin: 0px;
    
}
nav >a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
    cursor: pointer;
    
    
}
nav >a:hover{   
    background-color:var(--cor1);
    color:var(--cor5);
    text-decoration-thickness: auto;
    text-decoration-line: none;
    text-decoration-style: solid;

}
main{
    background-color: white;
    margin:auto;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.521);

}
p{
    text-align: justify;
    font-style: normal;
    text-indent: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 2em;
}

div{
    background-color: #1a5c37;
    text-align: center;
    display: block;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}
iframe{
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.527);
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
aside{
    background-color:#83e1ad;
    border-radius: 10px ;
    box-shadow: 10px 10px 5px rgba(2, 2, 2, 0.144);
    text-align: justify;
    
}
aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
aside >p{
    line-height: 2em;
    text-align: justify;
    padding: auto;
    text-indent: 30px;
    
}
footer{
    background-color:#063d1e;
    text-align: center;
    color: white;
    margin-bottom:0px;
}
main img{
    width: 100%;
}
.link{
    color: #1a5c37;
    background-color: #83e1ad;
    text-decoration: none;
    font-weight: bold;
}
.link:hover{
    text-decoration: underline;
}
#principal{
    font-family: Bebas Neue, Cursive;
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.322);
}
#subprincipal{
    text-align: center;
    font-size: 1.2em;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295);
    padding: 0px 10px 50px 10px;
    margin: auto;
    max-width: 600px;
}
.titulo{
    font-family: 'idroid', arial;
    color: #063d1e;
    font-weight: normal;
    font-size: 1.8em;

}
.titulo3{
    background-color: #085027;
    color: white;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}
.subtitulo{
    font-family: 'idroid', arial;
    font-weight: normal;
    font-size: 1.3em;
    color:#1b633b;
    background-image: linear-gradient(to right, #83e1ad, white );
}
strong{
    color: #1a5c37;
}
